In [7]:
x = 10
print("x:", x)

x: 10

In [9]:
is_valid = True
print("is_valid:",is_valid)

is_valid: True

In [11]:
name = "Python Programming"
print("name: ", name)

name:  Python Programming

In [13]:
sum_result = 5 + 3
print("sum_result:", sum_result)

sum_result: 8

In [15]:
a, b, c = 5, 10, 15
print("a:", a, "b:", b, "c:", c)

a: 5 b: 10 c: 15

In [17]:
x = 10
y = x
print("x:", x, "y:", y)

x: 10 y: 10

In [19]:
gravity = 9.8
print("gravity:", gravity)

gravity: 9.8

In [21]:
country = "Rwanda"
print("country:", country)

country: Rwanda

In [23]:
age = 25
print("age before change:", age)
age = 26
print("age after change:", age)

age before change: 25
age after change: 26

In [25]:
result = 20 - 7
print("result:", result)

result: 13

In [27]:
int_value = 100
float_value = 45.67
print("int value:", int_value, "| float value:", float_value)

int value: 100 | float value: 45.67

In [29]:
is_completed = False
print("is_completed:", is_completed)

is_completed: False

In [31]:
x = 5
y = 10
x, y = y, x
print("x:", x, "| y:", y)

x: 10 | y: 5

In [33]:
complex_num = 3 + 4j
print("complex number:", complex_num)

complex number: (3+4j)

In [35]:
my_var = 25
print("before reassignment (int):", my_var)

my_var = "Now it is a string"
print("after reassignment (str):", my_var)

before reassignment (int): 25
after reassignment (str): Now it is a string

In [37]:
first_name = "Nadia"
last_name = "IRADUKUNDA HIRWA"
print("First Name:", first_name, "| Last Name:", last_name)

First Name: Nadia | Last Name: IRADUKUNDA HIRWA

In [39]:
temperature = 35.5
print("temperature:", temperature)

temperature: 35.5

In [41]:
product = 8 * 6
print("product:", product)

product: 48

In [43]:
sentence = "I am learning Python in TekHer program"
print("sentence:", sentence)

sentence: I am learning Python in TekHer program

In [45]:
int_value = int('50')
print("int_value:", int_value)

int_value: 50

In [47]:
# Exercise 21
quotient = 144 / 12
print("Quotient:", quotient)

Quotient: 12.0

In [49]:
# Exercise 22
remainder = 47 % 5
print("Remainder:", remainder)

Remainder: 2

In [51]:
# Exercise 23
is_student = True
print("is_student:", is_student)

is_student: True

In [53]:
# Exercise 24
mod_result = 45 % 4
print("Modulo result:", mod_result)

Modulo result: 1

In [55]:
# Exercise 25
pi = 3.14159
print("Pi:", pi)

Pi: 3.14159

In [57]:
# Exercise 26
length = 10
width = 5
area = length * width
print("Area:", area)

Area: 50

In [59]:
# Exercise 27
negative_value = -7
print("Value:", negative_value)

Value: -7

In [61]:
# Exercise 28
greeting = "Hello, World!"
print("Greetings:", greeting)

Greetings: Hello, World!

In [63]:
# Exercise 29
population = 7_900_000_000  # 7.9 billion
print("population:", population)

population: 7900000000

In [65]:
# Exercise 30
power_result = 2 ** 8
print("Result:", power_result)

Result: 256

In [67]:
# Exercise 31
fruits = ["apple", "banana", "mango"]
print("My favorite fruits are:", fruits)

My favorite fruits are: ['apple', 'banana', 'mango']

In [69]:
# Exercise 32
coordinates = (10, 20, 30)
print("Coordinates tuple:", coordinates)

Coordinates tuple: (10, 20, 30)

In [71]:
# Exercise 33
person = {"name": "Nadia", "age": 22}
print("Person details:", person)

Person details: {'name': 'Nadia', 'age': 22}

In [73]:
# Exercise 34
num1 = 12.5
num2 = 7.3
sum_result = num1 + num2
print("Sum of two floats:", sum_result)

Sum of two floats: 19.8

In [75]:
# Exercise 35
is_sunny = 10 > 5
print("Is it sunny?", is_sunny)

Is it sunny? True

In [77]:
# Exercise 36
message = "Age:"
age = 21
print(message, age)

Age: 21

In [79]:
# Exercise 37
var = 100
print("Original value:", var)
var = True
print("Reassigned to boolean:", var)

Original value: 100
Reassigned to boolean: True

In [81]:
# Exercise 38
is_weekend = False
print("Is it weekend?", is_weekend)

Is it weekend? False

In [83]:
# Exercise 39
description = """This is a multi-line string.
It can span multiple lines.
Used for detailed descriptions."""
print("Multi-line description:\n", description)

Multi-line description:
 This is a multi-line string.
It can span multiple lines.
Used for detailed descriptions.

In [85]:
# Exercise 40
abs_value = abs(-25)
print("Absolute value of -25:", abs_value)

Absolute value of -25: 25

In [87]:
# Exercise 41
floor_div_result = 100 // 6
print("Floor division result of 100 // 6:", floor_div_result)

Floor division result of 100 // 6: 16

In [89]:
# Exercise 42
mixed_sum = 3.5 + 2
print("Mixed float and int sum:", mixed_sum)

Mixed float and int sum: 5.5

In [91]:
# Exercise 43
first = "Hello"
second = "World"
combined = first + " " + second
print("Combined string:", combined)

Combined string: Hello World

In [93]:
# Exercise 44
empty_list = []
print("Empty list:", empty_list)

Empty list: []

In [95]:
# Exercise 45
a = 10
b = 15
comparison_result = a < b
print("Is a less than b?", comparison_result)

Is a less than b? True

In [97]:
# Exercise 46
sentence = "Learning Python is fun and powerful!"
char_count = len(sentence)
print("Number of characters in sentence:", char_count)

Number of characters in sentence: 36

In [101]:
# Exercise 47
division_result = 7 / 3
print("Fractional division result of 7 / 3:", division_result)

Fractional division result of 7 / 3: 2.3333333333333335

In [103]:
# Exercise 48
speed = "100 km/h"
print("Speed:", speed)

Speed: 100 km/h

In [105]:
# Exercise 49
x = 4
y = 3 * x + 5
print("Result of y = 3x + 5 where x=4:", y)

Result of y = 3x + 5 where x=4: 17

In [107]:
# Exercise 50
num1 = 15
num2 = 25
num3 = 35
average = (num1 + num2 + num3) / 3
print("Average of three numbers:", average)

Average of three numbers: 25.0